@font-face {
  font-family: 'vanilla';
  src: local('vanilla'), url('/static/users/fonts/font.otf') format("opentype");
}

* {
  font-family: "vanilla";
  user-select: none !important;
}

p {
  margin-bottom: 0px;
}

.c-w {
  color: white !important;
}

.alert-warning {
  background-color: #ffbe5e !important;
  color: #333333;
}

.btn-warning {
  background-color: #ffbe5e !important;
  color: #333333;
}

.pinned {
  color: #ffcd57 !important;
}

.pin {
  float: right;
  margin-top: -15px;
}

article {
  word-break: break-all;
}

.article-title {
  word-break: normal !important;
}

.user {
  width: 100%;
  max-height: 93px;
  overflow: hidden;
  margin-bottom: 15px;
  border-top: 3px solid #c7c7c7;
  border-left: 3px solid #c7c7c7;
  border-right: 3px solid #525252;
  border-bottom: 3px solid #525252;
  outline: 4px solid black;
  padding: 8px;
  background-image: url('/static/users/images/post-background.png');
}

.user:hover {
  background-color: #e8e8e8;
  outline: 2px solid #e8e8e8;
  background-image: url('/static/users/images/post-pinned.png') !important;
}

.black-border {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  border: 3px solid #fffddb;
  float: left;
}

.total {
  font-size: 14px;
  font-weight: 350;
}

p.smaller {
  font-size: 1.7em !important;
  width: 80% !important;
  line-height: 1.6em !important;
  margin-top: -20px !important;
  font-weight: 600 !important;
  letter-spacing: 0.02em;
}

p.small-name {
  font-size: 1.5em !important;
}

p.message-name {
  color: #fbfce6;
  text-shadow: 4px 4px #4d4d4d;
  font-size: 1.9em;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.message-received {
  padding: 6px 15px 8px 15px;
  background-color: #e8e8e8;
  max-width: 650px;
  float: left;
  border-radius: 20px;
  clear: both;
  color: #545454;
  margin-bottom: 5px;
  white-space: pre-line;
  text-shadow: 3px 3px #fffddb;
  font-size: 1.3em;
  line-height: 1.3em;
}

.message-sent {
  clear: both;
  float: right;
  color: #fffddb;
  padding: 6px 15px 8px 15px;
  border-radius: 20px;
  max-width: 650px;
  margin-bottom: 5px;
  white-space: pre-line;
  text-shadow: 3px 3px #4d4d4d;
  font-size: 1.3em;
  line-height: 1.3em;
}

a.edit-post {
  float: right !important;
  font-size: 2.5em;
  width: 50px;
  color: #fffddb;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  position: absolute;
  right: 10px;
  top: 10px;
}

a.edit-post:hover {
  color: #cce9ff !important;
  transform: scale(1.1);
}

@keyframes grow-big {
  100% {
    transform: scale(1.05);
  }
}

p.larger {
  font-size: 3em !important;
  margin-top: 25px;
  margin-bottom: 5px !important;
}

p.larger:hover {
  text-decoration: none !important;
  color: #ffd770 !important;
}
  
small.previous-message {
  clear: both;
  margin-left: 15px !important;
  font-size: 1.5em !important;
}

button.white {
  color: #fffddb;
}

.message {
  clear: both;
}

#id_message {
  width: 100%;
  height: 2.5em;
}

.head {
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: -5px;
  border-bottom: 1px solid #d0e0e0;
}

.all-messages {
  clear: both;
  margin-top: 15px;
  overflow: hidden;
}

.color-palette {
  clear: both;
  margin-bottom: 25px;
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.regular-blue {
  background-color: rgb(0, 132, 255);
}

.light-blue {
  background-color: rgb(32, 206, 245);  
}

.dark-pink {
  background-color: rgb(255, 92, 161);
}

.purple {
  background-color: rgb(118, 70, 255);
}

.green {
  background-color: rgb(19, 207, 19);
}

.orange {
  background-color: rgb(255, 126, 41);
}

.yellow {
  background-color: rgb(255, 195, 0);
}

.red {
  background-color: rgb(250, 60, 76);
}

.lavendar {
  background-color: rgb(214, 150, 187);
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 35px;
  float: left;
  margin-right: 12px;
  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 10px;
  border: none;
}

.circle:active, .circle:focus {
  outline: 0;
  border: none;
}

.check {
  text-align: center;
  margin: auto 0;
  padding-top: 25%;
}



img.post-image {
  width: 130px;
  height: 130px;
  border-radius: 75px;
  float: left;
  border: 4px solid #fffddb;
  margin-top: 3px;
}

p.post-name {
  font-size: 1.9em;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

#heading {
  float: left;
  overflow: auto;
  width: 81%;
  padding-right: 10px;
  position: relative;
}

#post {
  width: 100%;
  background-image: url('/static/users/images/post-background.png');
  border-top: 3px solid #c7c7c7;
  border-left: 3px solid #c7c7c7;
  border-right: 3px solid #525252;
  border-bottom: 3px solid #525252;
  outline: 4px solid black;
  margin-bottom: 25px;
  padding: 13px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
} 

div.post-pinned {
  background-image: url('/static/users/images/post-pinned.png') !important;
}


#pagination {
  clear: both;
}

a {
  text-decoration: none;
  color: #fbfce6;
  text-shadow: 4px 4px #4d4d4d;    
}

a:hover {
  color: inherit;
}

.hover:hover {
  text-decoration: none;
  color: #ffd770;
}

body {
  background-image: url('/static/users/images/background.png');
  background-size: fill;
  background-position: top center;
  background-repeat: repeat;
  line-height: 2em !important;
}

img.fixed {
  position: fixed;
  bottom: 20px;
  left: 40px;
}

small.date {
  color: #f2f5ff !important;
  text-shadow: 3px 3px #4d4d4d;
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 1em;
}

div.no-pad {
  padding: 0px !important;
}

div.colors {
  padding-left: 25px !important;
  overflow: hidden;
  margin-top: 1%;
  width: 70px !important;
  position: relative !important;
}

p.post-title {
  font-size: 2.25em;
  margin-left: 15px;
  float: left;
  width: 75%;
  color: #cce9ff;
  margin-bottom: 0px;
  margin-top: -10px;
  text-shadow: 4px 4px #4d4d4d;
}

#post-content {
  clear: both;
  color: #e8e8ff;
  margin-top: 10px;
  text-shadow: 4px 4px #4d4d4d;
  font-size: 1.55em;
  line-height: 1.3em !important;
  max-height: 230px;
  overflow: hidden;
  border-bottom: 2px solid #9e9e9e;
  padding-bottom: 5px;
}

div.no-border {
  border: 0px !important;
}

#post-content-full {
  clear: both;
  color: #e8e8ff;
  margin-top: 10px;
  text-shadow: 4px 4px #4d4d4d;
  font-size: 1.55em;
  line-height: 1.3em !important;
  overflow: hidden;
  border-bottom: 2px solid #9e9e9e;
  padding-bottom: 5px;
}

body::-webkit-scrollbar {
  display: none;
}

#post-head {
  overflow: hidden;
}

#like-button {
  padding: 6px 0px 6px 6px;
  overflow: hidden;
  max-width: 170px;
  float: left;
}

@keyframes hvr-icon-pop {
  0% {
    text-shadow: 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 2px #fbfce6, 0 0 2px #fbfce6, 0 0 2px #fbfce6;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    text-shadow: 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 1px #fbfce6, 0 0 2px #fbfce6, 0 0 2px #fbfce6, 0 0 2px #fbfce6;
  }
}

button.like {
  padding: 0px;
  border: 0px;
  margin: 0px;
  line-height: 1em;
  font-size: 1.8em;
  background-color: transparent;
  color: #fbfce6;
  text-shadow: 4px 4px #4d4d4d;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding-right: 2px;
}

button.like:hover, button.like:focus, button.like:active {
  animation: hvr-icon-pop 1s infinite;
  cursor: pointer;
}

button.like:focus {
  outline: none;
}

#post-footer {
  margin-top: 13px;
  margin-bottom: 0px;
}

#like-images {
  float: left;
  margin-left: 13px;
  border-left: 2px solid #9e9e9e;
  padding-left: 15px;
  margin-bottom: 5px;
}

.like-photos {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: 2px solid #fffddb;
  float: left;
  margin-right: -15px;
}

#elipsis {
  position: absolute;
  bottom: 1.8em;
  right: 0.5em;
  font-size: 1.5em;
}

#elipsis-user {
  position: absolute;
  bottom: 0px;
  right: 0.35em;
  font-size: 1.5em;
}

.user-posts {
  color: #fffddb;
  text-shadow: 4px 4px #4d4d4d;
}

#elipsis:hover {
  animation: pop 1s infinite;
  cursor: pointer;
}

@keyframes pop {
  50% {
    transform: scale(1.05);
  }
}

@keyframes hvr-icon-pop {
  0% {
    text-shadow: 0 0 1px #fbfce6;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    text-shadow: 0 0 1px #fbfce6;
  }
}

button.pin {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: transparent;
  text-shadow: 3px 3px #4d4d4d;
  font-size: 2.5em;
  position: absolute;
  top: 10px;
  right: 15px;
}

button.pin:focus {
  outline: none;
}

button.pin:hover, button.pin:focus, button.pin:active {
  animation: pop 0.3s linear;
  animation-iteration-count: 1;
  cursor: pointer;
}

@keyframes pop {
  50% {
    transform: scale(1.15);
  }
}

.liked-by {
  font-size: 1.5em;
  color: #ffd6d6;
  float: left;
  padding: 3px;
  margin-top: 17px;
  border-right: 2px solid #ffd6d6;
  padding-right: 12px;
  text-shadow: 3px 3px #4d4d4d;

}

img.detail {
  width: 75px;
  height: 75px;
  border-radius: 45px;
  border: 4px solid #fffddb;
  float: left;
}

#detail-likes {
  float: left;
  margin-left: 12px;
  margin-bottom: 15px;
}

#comment {
  width: 80%;
  float: right;
  clear: both;
  background-image: url('/static/users/images/post-pinned.png');
  border-top: 3px solid #c7c7c7;
  border-left: 3px solid #c7c7c7;
  border-right: 3px solid #525252;
  border-bottom: 3px solid #525252;
  outline: 4px solid black;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
  padding-bottom: 5px;
}

.invert {
  background-image: url('/static/users/images/post-background.png') !important;
}

#comment-form {
  clear: both;
  margin-top: 15px;
}

.comment-image {
  width: 65px;
  height: 65px;
  border: 3px solid #fffddb;
  border-radius: 35px;
  float: left;
  margin-right: 10px;
}

#comment-header {
  overflow: hidden;
  margin-top: 3px;
}

.comment-user {
  font-size: 1.75em;
  float: left;
}

.comment-user:hover {
  color: #ffd770;
  text-decoration: none;
}

.comment-date {
  clear: both;
  color: #f2f5ff !important;
  text-shadow: 3px 3px #4d4d4d;
  float: left;
  font-size: 1em;
  line-height: 1.2em;
}

.comment-content {
  clear: both;
  color: #e8e8ff;
  text-shadow: 4px 4px #4d4d4d;
  font-size: 1.4em;
  line-height: 1.15em !important;
  margin-top: 18px;
}

.pinned-color {
  color: #ffdbdb !important;
}

.header-logo {
  width: 100%;
}

.row {
  margin-top: 25px;
}

#header {
  margin-top: 20px;
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
}

#nav-bar {
  margin: 25px auto 0px auto;
  width: 100%;
}

.item {
  font-size: 1.75em;
  color: #FFCB05 !important;
  padding: 8px 10px;
  background-image: url('/static/users/images/post-background.png');
  border-top: 3px solid #c7c7c7;
  border-left: 3px solid #c7c7c7;
  border-right: 3px solid #525252;
  border-bottom: 3px solid #525252;
  box-shadow: 0 0 0 3px black;
  margin-right: 10px;
  border-radius: 20px;
}

.item:hover {
  text-decoration: none;
  color: #fbfce6 !important;
  box-shadow: 0 0 0 3px white;
  background-image: url('/static/users/images/post-pinned.png');
}

.content-section {
  padding: 8px 10px;
  background-image: url('/static/users/images/post-background.png');
  border-top: 3px solid #c7c7c7;
  border-left: 3px solid #c7c7c7;
  border-right: 3px solid #525252;
  border-bottom: 3px solid #525252;
  outline: 4px solid black;
  margin-top: 10%;
  text-shadow: 4px 4px #4d4d4d !important;
  color: #fffddb !important;
}

div.no-top {
  background-image: url('/static/users/images/post-pinned.png') !important;
  margin-top: 5px !important;
  margin-bottom: 25px;
}

small.no-account {
  color: #fffddb !important;
  text-shadow: 4px 4px #4d4d4d !important;
  font-size: 1em;
}

a.forgot-pass {
  font-size: 1.3em;
}

a.forgot-pass:hover {
  color: #ffd770;
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

form.fixing-alignment {
  margin-top: 15px !important; 
  overflow: hidden;
}

.welcome-image {
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 100px;
  border: 4px solid #fffddb;
  right: 20px;
  bottom: 20px;
}

.welcome {
  padding: 10px 15px !important;
  font-size: 1.75em;
  color: #e9ffe3;
  margin-bottom: 0px !important;
  text-shadow: 4px 4px #4d4d4d !important;
  position: relative;
}

.stats {
  color: #ffd770 !important;  
  margin-right: 5px;
}

.posts:hover {
  color: #fffeee !important;
}