{% extends "blog/base.html" %}
{% load static %}
{% block content %}

  

  {% for post in page_obj %}

  {% if post.pin == True %}
  <div id="post" class="post-pinned">

  {% else %}
  <div id="post">

  {% endif %}

    <div id="post-head">

      <img src="{{ post.author.profile.image.url }}" class="post-image" />

      <div id="heading">
        <a href="{% url 'user-posts' post.author.username %}" class="hover">
          <p class="post-name"> {{ post.author.username }} </p>
        </a>
        <small class="text-muted date"> {{ post.date_posted }}</small>
      </div>
      {% if post.pin == True %}
      <p class="post-title pinned" >{{ post.title }}</p>

      {% else %}
      <p class="post-title">{{ post.title }}</p>

      {% endif %}

      {% if post.author == user %}
        {% if post.pin == True %}
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="unpinned" value="{{ post.pk }}">
            <button class="pin" type="submit" value="{{ post.pk }}"> <i class="fas fa-bookmark"></i> </button>
          </form>

        {% else %}
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="pinned" value="{{ post.pk }}">
          <button class="pin" type="submit" value="{{ post.pk }}"> <i class="far fa-bookmark"></i> </button>
        </form>
        {% endif %}
      {% endif %}

    </div>

    {% if post.pin == True %}
    <div id="post-content" class="pinned-color">

    {% else %}
    <div id="post-content">

    {% endif %}

      {{ post.content|linebreaks }} 
      <div id="elipsis">
        <a href="{% url 'post-detail' post.id %}"><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>

    <div id="post-footer">

      <div id="like-button">

        {% if user.is_authenticated %}

          {% if post.pk in likes_list %}
          <form method="POST" style="float:left">
            {% csrf_token %}
            <input type="hidden" name="unlike" value="{{ post.pk }}">
            <button class="like" type="submit" value="{{ post.pk }}"> <i class="fas fa-thumbs-up"></i> UNLIKE  </button>
          </form>

          {% else %}
          <form method="POST" style="float:left">
            {% csrf_token %}
            <input type="hidden" name="like" value="{{ post.pk }}">
            <button class="like" type="submit" value="{{ post.pk }}"> <i class="far fa-thumbs-up"></i> LIKE  </button>
          </form>
          {% endif %}

        {% endif %}

      </div>

      <div id="like-images">
        
        {% for like in likes %}

          <!-- is there a better solution than this? O(nm) -->
          {% if post == like.post %}
            <img src="{{ like.user.profile.image.url }}" class="like-photos" alt="{{ like.user.username }} has liked this post!" title="{{ like.user.username }} has liked your post!">
          {% endif %}

        {% endfor %}
        
      </div>

    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}