{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if post.pin == True %}
  <div id="post" class="post-pinned">

  {% else %}
  <div id="post">

  {% endif %}

    <div id="post-head">

      <img src="{{ post.author.profile.image.url }}" class="post-image" />

      <div id="heading">
        <a href="{% url 'user-posts' post.author.username %}" class="hover">
          <p class="post-name"> {{ post.author.username }} </p>
        </a>
        <small class="text-muted date"> {{ post.date_posted }}</small>
      </div>
      {% if post.pin == True %}
      <p class="post-title pinned" >{{ post.title }}</p>

      {% else %}
      <p class="post-title">{{ post.title }}</p>

      {% endif %}

      {% if post.author == user %}
        <a class="edit-post" href="{% url 'post-update' post.id %}" style="float:right"> <i class="fas fa-edit pad-top"></i></a>   
      {% endif %}

    </div>

    {% if post.pin == True %}
    <div id="post-content-full" class="post-pinned pinned-color">

    {% else %}
    <div id="post-content-full">

    {% endif %}
    {{ post.content }} 
    </div>

    <div id="post-footer">
      <p class="liked-by"> Liked By </p>

      <div id="detail-likes">
        {% for like in likes %}
          <img src="{{ like.user.profile.image.url }}" class="like-photos detail" alt="{{ like.user.username }} has liked this post!" title="{{ like.user.username }} has liked your post!">
        {% endfor %}
      </div>

      <!-- display all coments for each post -->
      {% for comment in comments %}
        {% if post.pin == True %}
        <div id="comment" class="invert">
        {% else %}
        <div id="comment">
        {% endif %}
          <img class="comment-image" src="{{ comment.author.profile.image.url }}">
          <div id="comment-header">
            <a class="comment-user" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
            <small class="text-muted comment-date">{{ comment.date_posted }}</small>            
          </div>
          {% if post.pin == False %}
          <p class="comment-content pinned-color">

          {% else %}
          <p class="comment-content">
          {% endif %}
          
          {{ comment.content }} </p>
        </div>
      {% endfor %}
      
      <div id="comment-form">
        {% if post.pin == True %}
        <div id="comment" class="invert long">
        {% else %}
        <div id="comment" class="long">
        {% endif %}
          <img class="comment-image" src="{{ request.user.profile.image.url }}">
          <div id="comment-header">
            <a class="comment-user" href="{% url 'user-posts' request.user.username %}">{{ request.user.username }}</a>
            <small class="text-muted comment-date">{% now "F n, Y, g:i a" %}</small>            
          </div>


        <form method="POST" class="fixing-alignment">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <a class="item float-right comment-button"><span style="font-size: 0.9em"><i class="far fa-paper-plane"></i></span> Comment</a>
          </div> 
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('.requiredField').remove();
    $('#id_content').remove();

    var id = "comment"
    var element = document.getElementById(id);
    if (element.classList.contains("invert")) {
      $('#div_id_content').append('<textarea type="text" name="content" class="comment-content-form" required="" id="comment_content" rows="3" placeholder="Comment here!">');
    }
    else {
      $('#div_id_content').append('<textarea type="text" name="content" class="comment-content-form invert-background" required="" id="comment_content" rows="3" placeholder="Comment here!">');
    }
  </script>

{% endblock content %}