{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if post.pin == True %}
  <div id="post" class="post-pinned">

  {% else %}
  <div id="post">

  {% endif %}

    <div id="post-head">

      <img src="{{ post.author.profile.image.url }}" class="post-image" />

      <div id="heading">
        <a href="{% url 'user-posts' post.author.username %}" class="hover">
          <p class="post-name"> {{ post.author.username }} </p>
        </a>
        <small class="text-muted date"> {{ post.date_posted }}</small>
      </div>
      {% if post.pin == True %}
      <p class="post-title pinned" >{{ post.title }}</p>

      {% else %}
      <p class="post-title">{{ post.title }}</p>

      {% endif %}

      {% if post.author == user %}
        <a class="edit-post" href="{% url 'post-update' post.id %}" style="float:right"> <i class="fas fa-edit pad-top"></i></a>   
      {% endif %}

    </div>

    {% if post.pin == True %}
    <div id="post-content-full" class="post-pinned pinned-color">

    {% else %}
    <div id="post-content-full">

    {% endif %}
    {{ post.content|linebreaks }} 
    </div>

    <div id="post-footer">
      <p class="liked-by"> Liked By </p>

      <div id="detail-likes">
        {% for like in likes %}
          <img src="{{ like.user.profile.image.url }}" class="like-photos detail" alt="{{ like.user.username }} has liked this post!" title="{{ like.user.username }} has liked your post!">
        {% endfor %}
      </div>

      <!-- display all coments for each post -->
      {% for comment in comments %}
        {% if post.pin == True %}
        <div id="comment" class="invert">
        {% else %}
        <div id="comment">
        {% endif %}
          <img class="comment-image" src="{{ comment.author.profile.image.url }}">
          <div id="comment-header">
            <a class="comment-user" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
            <small class="text-muted comment-date">{{ comment.date_posted }}</small>            
          </div>
          {% if post.pin == False %}
          <p class="comment-content pinned-color">

          {% else %}
          <p class="comment-content">
          {% endif %}
          
          {{ comment.content }} </p>
        </div>
      {% endfor %}
      
      <div id="comment-form">
        <form method="POST">
          {% csrf_token %}
          <legend class="border-bottom mt-4 mb-2">Have a Thought? Write a Comment!</legend>
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-info"style="float:right; margin-bottom: 10px; margin-top: -10px;" type="submit"> Comment! </button>
          </div> 
        </form>
      </div>
    </div>
  </div>

  {% endblock content %}