{% load static %}


<!DOCTYPE html>
  <html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- adding our own .css files from static -->
      <link rel="stylesheet" type="text/css" href="{% static 'users/style/main.css' %}">

      <script src="https://kit.fontawesome.com/59df0f1cf2.js" crossorigin="anonymous"></script>
      <link rel="shortcut icon" href="{% static 'users/images/favicon.ico' %}"/>
 
    </head>
    <body onload="zoom();">

        <div id="background"> 

          <div id="container"> 

            <img draggable="false" src="{% static 'users/images/logo_final.png' %}" class="logo">

            <div id="splash-container">
              <!-- <p class="splash"> NP is in P! </p> -->
              <!-- <p class="splash"> Keep Calm and Zoom On! </p> -->
              <!-- <p class="splash"> NP is not in P! </p> -->
              <!-- <p class="splash">3.14159265358979...</p> -->
              <!-- <p class="splash"> Congrats to Class of 2020! </p> -->
              <!-- <p class="splash"> Newly Released Beta 1.0!</p> -->
              <!-- <p class="splash"> Thank Essential Workers! </p> -->
              <!-- <p class="splash"> RIP 6-6 #8 & #24 </p> -->
              <!-- <p class="splash"> 47 Different Varieties! </p>-->
              <p class="splash"> 11 Herbs and Spices! </p>

            </div>

            <div id="controls">

              <a href="{% url 'blog-home' %}">
                <button id="preview"> Preview Site </button> 
              </a> <br/>

              <a href="{% url 'login' %}">
                <button id="preview"> Login </button> 
              </a> <br/>

              <a href="{% url 'register' %}">
                <button id="preview"> Register </button> 
              </a> <br/>

              <a href="{% url 'blog-home' %}" style="margin-right: 20px;">
                <button id="preview-short">About Me</button> 
              </a>
              
              <a href="{% url 'blog-home' %}">
                <button id="preview-short">How To Use</button> 
              </a>

            </div>

          </div>
          <p class="signoff"> Kevin Zhao version beta 1.2</p>
        </div>
    </body>

    <script type="text/javascript">
      function zoom() {
        document.body.style.zoom = "82%" 
      }
    </script>
  </html>